<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Source+Code+Pro" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/png">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Test your pointing skills and equipment by clicking through 21 rectangles.">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
